label {
    font-weight: 100;
    font-size: 0.5rem;
    display: block;
    color: #4c4747;
}
.field {
    padding-left: 1rem; 
    font-weight: 600;
    color: #383535;
}

.mt{
    margin-top: 0;
}

p.text-danger{
    margin: 0;
    font-size: 0.5rem;
}