<div class="row flex-items-md-center">
    <div class="col-sm-12 col-md-8 col-lg-6 login-box">

        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-block">
                <form>
                    <section class="form-block">
                        
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input type="text" id="login" placeholder="Email" size="45">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" placeholder="Password"  size="45">
                        </div>
                        
                    </section>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline" (click)="onLogin()">SUBMIT</button>
                <button class="btn btn-link" (click)="goHomePage()">Cancel</button>
            </div>
        </div>
    </div>

</div>

