.form-group{
    padding-left: 0;
}

.login-box{
    max-width: 500px;
} 

@media (min-width:575px)  { 
    .form-group{
        padding-left: 5rem;
    }

    .card{
        margin-top: 6rem;
    }
}