<div class="content-container">
    <div class="content-area">
        <div class="clr-row clr-justify-content-center">
            <div class="clr-col-lg-8 clr-col-md-12">
                <h1 class="text-center">StartNg - Angular fast prototyping tool (beta)</h1>
                <div class="clr-row  clr-justify-content-center">
                    <div class="clr-col-md-4">
                        <h2>Creates:</h2>
                <ul>
                    <li>Components</li>
                    <li>Modules</li>
                    <li>Lazy loading modules</li>
                    <li>Routing modules</li>
                    <li>Routes</li>
                    <li>Route guards</li>
                </ul>
                    </div>
                    <div class="clr-col-md-4">
                        <h2>Coming features:</h2>
                <ul>
                    <li>Forms build</li>
                    <li>Bootstrap forms ui</li>
                    <li>Forms validation</li>
                    <li>Shared components</li>
                    <li>Components interaction</li>
                    <li>...</li>
                </ul>
                    </div>
                </div>
                <div class="center mt-3 steps">
                    <h4>1 - Create new project. Install Bootstrap if needed.</h4>
                    <h4>2 - Create components using StartNg.</h4>
                    <h4>3 - Download zip ile.</h4>
                    <h4>4 - Replace app folder in your project with app folder from zip file.</h4>
                    <h3></h3>
                </div>
                
            </div>
        </div>
        <div class="clr-row  clr-justify-content-center mt-5">
            <div class="clr-col-lg-8 clr-col-md-12 text-center">

                    <iframe id="ytplayer" type="text/html" width="{{width}}" height="{{height}}"
                    src="https://www.youtube.com/embed/saOZqL6bAFc"
                    frameborder="0"></iframe>
                    <!-- <video width="1880" height="980" controls width="{{width}}" height="{{height}}" preload="metadata">
                            <source src="../../assets/tut.mp4#t=0.5" type="video/mp4">
                          </video> -->
            </div>
        </div>

    </div>
</div>
